.countSortPane {
 color: white;
 height: 70px;
 background-color: var(--light-gray);
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 0 50px;
}

.sortBy {
 float: left;
}

.resultsBody {
    padding: 50px;
    background-color: var(--dark-gray);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-between;
}

.emptyResultsBody {
    padding: 50px;
    background-color: var(--dark-gray);
    height: calc(100% - 490px);
}

.resultsBody > * {
    margin: 1em 0;
}
