.searchIcon {
    color: var(--netflix-pink);
    font-size: 2em;
}

section.filmsByGenre {
    padding: 0 50px;
    height: 70px;
    background-color: var(--light-gray);
    color: white;
    display: flex;
    align-items: center
}

img.filmPoster {
    width: 280px;
    display: inline-block;
}

div.filmHeader {
    display: Flex;
    align-items: center;
    justify-content: space-evenly;
}

p.info > span {
    color: var(--netflix-pink);
    font-size: 1.5em;
}

.filmsByGenre {
    padding: 50px;
    background-color: var(--dark-gray);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-between;
}

.filmsByGenre > * {
    margin: 1em 0;
}

.infoBlock {
    width: 60%;
}


div.rating {
    height: 30px;
    width: 30px;
    display: inline-flex;
    border:1px solid white;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: var(--lime-green);
}